.Polygon10 {
    background-image: url('{{ url_for('static', filename='images/waves.svg') }}');
    background-repeat: no-repeat; /* Запрет на повторение фона */
    background-position: center;
}

.Group4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px; /* Установите ширину и высоту согласно вашим требованиям */
    height: 549px;
}