{% extends "base.html" %}

{% block content %}
<form method="POST" action="/process_interest" class="form-container">
    <div class="background"></div>
    <div class="Text" style="left: 20px; top: 17px; position: absolute; color: black; font-size: 20px; word-wrap: break-word;">
        Название:
    </div>
    <input type="text" id="title" name="title" class="name-input">
    <div class="Text" style="left: 16px; top: 118px; position: absolute; color: black; font-size: 20px; word-wrap: break-word">
        Описание:
    </div>
    <textarea id="description" name="description" , class="desc-input"></textarea>
    <div class="btn-save">
        <a href="/">
            <div class="btn-save-bg">
                <input type="submit" value="Сохранить" class="Text"
                       style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);color: #1f1f1f; font-size: 20px; border: transparent; background: transparent;">
            </div>
        </a>
    </div>
    <div class="btn-cansel">
        <div class="btn-cansel-bg"
             onclick="cancel()">
            <span class="Text" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);color: #1f1f1f; font-size: 20px;">Отмена</span>
        </div>
    </div>
</form>
<div class="figure">
    <img src="{{ url_for('static', filename='images/waves.svg') }}" alt="Ваше изображение"
         style="height: 1041px; width: 1039px; right: 0%; top: 12.6%; position: fixed; z-index: -1;">
</div>
<div class="figure">
    <img src="{{ url_for('static', filename='images/waves.svg') }}" alt="Ваше изображение"
         style=" transform: rotate(180deg); right: 82%; top: 5%; position: fixed;">
</div>

<script>
    function cancel() {
        window.history.back();
    }
</script>
{% endblock %}
