{% extends "base.html" %}

{% block content %}
<div class="Group4" style="width: 622px; height: 549px; transform: translate(43%, 35%); margin-left: 30%">
    <div class="Rectangle2366"
         style="width: 622px; height: 549px; left: 0px; top: 0px; position: absolute; background: #ebebeb; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08); border-radius: 25px"></div>
    <div style="left: 20px; top: 17px; position: absolute; color: black; font-size: 20px; font-family: Outfit; font-weight: 400; word-wrap: break-word;">
        Название:
    </div>
    <input type="text" id="title"
           style="left: 16px; top: 55px; position: absolute; width: 583px; height: 44px; border-radius: 12px; border: 1px rgba(0, 0, 0, 0.74) solid; padding-left: 10px;">
    <div style="left: 16px; top: 118px; position: absolute; color: black; font-size: 20px; font-family: Outfit; font-weight: 400; word-wrap: break-word">
        Описание:
    </div>
    <textarea id="description"
              style="left: 16px; top: 156px; position: absolute; width: 583px; height: 206px; border-radius: 12px; border: 1px rgba(0, 0, 0, 0.74) solid; padding-left: 10px;"></textarea>
    <div style="left: 20px; top: 381px; position: absolute; color: black; font-size: 20px; font-family: Outfit; font-weight: 400; word-wrap: break-word;">
        Теги:
    </div>
    <input type="text" id="tags"
           style="left: 16px; top: 416px; position: absolute; width: 139px; height: 50px; border-radius: 12px; border: 1px rgba(0, 0, 0, 0.74) solid; padding-left: 10px;">
    <div class="Group4" style="width: 143px; height: 50px; top: 477px; position: absolute">
        <a href="/">
            <div class="Rectangle2369"
                 style="width: 143px; height: 50px; left: 18px; top: 8px; position: absolute; background: #C4CFC0; border-radius: 44px; cursor: pointer;"
                 onclick="submitForm()">
                <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);color: #1f1f1f; font-size: 20px; font-family: Outfit; font-weight: 400;">Сохранить</span>
            </div>
        </a>
    </div>
    <div class="Group5" style="width: 143px; height: 50px; left: 175px; top: 485px; position: absolute">
        <div class="Rectangle2369"
             style="width: 143px; height: 50px; position: absolute; background: #C4CFC0; border-radius: 44px; cursor: pointer;"
             onclick="cancel()">
            <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);color: #1f1f1f; font-size: 20px; font-family: Outfit; font-weight: 400;">Отмена</span>
        </div>
    </div>
</div>
<div class="Polygon10" style="z-index: -1;">
    <img src="{{ url_for('static', filename='images/waves.svg') }}" alt="Ваше изображение"
         style="height: 1041px; width: 1039px; right: 0%; top: 12.6%; position: absolute; z-index: -1;">
</div>
<div class="Polygon10" style="z-index: -1;">
    <img src="{{ url_for('static', filename='images/waves.svg') }}" alt="Ваше изображение"
         style="transform: rotate(180deg); right: 82%; top: 5%; position: fixed;">
</div>

<script>
    function submitForm() {
        var title = document.getElementById("title").value;
        var description = document.getElementById("description").value;
        var tags = document.getElementById("tags").value;

        var data = {
            "title": title,
            "description": description,
            "tags": tags
        };

        fetch('/add_interest', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data.message);

            // Можно добавить здесь код для обновления интерфейса или отображения сообщения об успешном добавлении
        })
        .catch(error => {
            console.error('There was an error!', error);
        });
    }

    function cancel() {
        window.history.back();
    }

</script>
{% endblock %}
