{% extends "base.html" %}

{% block content %}
<style>
    .profile-container {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .avatar-container {
        width: 229px;
        height: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 0px;
    }
    .user-info, .description-box {
        background: white;
        border-radius: 0px;
        padding: 0px;
        width: 200px;
    }
    .info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F1F1F1;
        border-radius: 0px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .label {
        font-size: 12px;
        color: black;
    }
    .editable {
        width: 100px;
        text-align: center;
        color: rgba(0, 0, 0, 0.40);
        font-size: 12px;
    }
    .map-container {
        width: 400px;
        height: 225px;
        overflow: hidden;
    }
    .interests-title {
        font-size: 31px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    .interest-item {
        background: #d1d7dda3;
        border-radius: 16px;
        padding: 16px;
        margin-top: 10px;
    }
    .interest-title {
        font-weight: bold;
        color: black;
    }
    .interest-description {
        background: #fbfbfbc2;
        border-radius: 12px;
        padding: 16px;
        border: 1px solid #E4E5E9;
        margin-bottom: 10px;
    }
    .delete-button {
        color: black;
    }
</style>

<div class="container" style="padding-right: 0px; padding-left: 0px; display: flex; align-items: center; gap: 10px; justify-content: center; align-items: center;">
    <a href="/upload_render" class="avatar-container">
        <img src="{{ current_user.image_path }}" alt="Avatar" class="avatar">
    </a>
    <div>
        <div class="user-info">
        <div class="info-box">
            <div class="label">Изменить имя:</div>
            <div contenteditable id="EditBox_Name" class="editable">{{ current_user.name }}</div>
        </div>

        </div>

        <div class="description-box">
            <div class="info-box">
                <div class="label">Описание</div>
            <div contenteditable id="EditBox_Description" class="editable">{{ current_user.information }}</div>
            </div>

        </div>
    </div>


    <div class="location-label" style="rotate: 270deg; white-space: nowrap; display: inline-block;">Местоположение</div>
    <div id="map" class="map-container"></div>
</div>

<div class="interests-title">Мои Интересы</div>
{% for item in interest %}
<div class="interest-item">
    <a class="interest-title">{{ item.title }}</a>
    <div class="interest-description">{{ item.description }}</div>
    <a href="/interest_delete/{{ item.id }}" class="delete-button"><u>Удалить</u></a>
</div>
{% endfor %}
{% endblock %}